{% extends 'base.html' %}

{% block head %}
<meta charset="utf-8">
<title>{{ question.title }}</title>
{% endblock %}

{% block body %}
<br>
  <div class="container">
<div class="jumbotron">
        <h2>{{ question.title }}</h2>
        <p>Written by {{ question.author }} on {{ question.published }}</p>
        <hr>
        {{ question.content|linebreaks }}
</div>
        <hr>
        <h1>Answers</h1>
        <hr>
        <p>Total number of answers: {{ question.answers.count }}</p>
        <a class="btn btn-outline-success" href="{% url 'home:add_answer' slug=question.slug %}" role="button">Leave an Answer</a>
        <hr>
        {% for answer in question.answers.all %}
        <p>{{ answer.created }}</p>
        <p>{{ answer.user }}</p>
        <p>{{ answer.body }}</p>
        <hr>
        {% empty %}
        <p>There are no answers</p>

        {% endfor %}

      </div>
{% endblock %}
